body {
  font-family: "Inter";
  padding: 0;
  margin: 0;
}
#navbar {
  width: 95%;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  margin-left: 34.125px;
}
a {
  text-decoration: none;
  color: black;
}
.navBarButtons {
  align-self: center;
}
